@model Productoras.Models.Usuarios
@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet" href="~/Content/css/login2.css" />
@using (Html.BeginForm("Login", "Usuario"))
{
    <fieldset>
        <div class="login">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12 form_error" style="text-align: center; margin-bottom: 20px;">
                        <span class="mensajeError">@Html.ValidationSummary(true)</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        @Html.LabelFor(u => u.username_c)<span class="input_error">@Html.ValidationMessageFor(u => u.username_c)</span>
                        @Html.TextBoxFor(u => u.username_c)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        @Html.LabelFor(u => u.password)<span class="input_error">@Html.ValidationMessageFor(u => u.password)</span>
                        @Html.PasswordFor(u => u.password)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Login">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
}

<style>
 
.form_error span {
    color: brown;
    font-weight: bold;
}
.input_error {
    color: brown;
    margin-left: 10px;
}
.validation-summary-errors {
    border-radius: 5px;
    min-height: 50px;
    padding: 10px;
    background-color: rgba(255, 30, 8, 0.1);
}
.validation-summary-errors ul {
    list-style: none;
    text-align: center;
    position: relative;
}
.validation-summary-errors ul li {
    width: 100%;
    position: absolute;
    left: 0;
}
</style>