@model Productoras.Models.Usuarios
@using Productoras.Helpers

<link rel="stylesheet" href="~/Content/css/font-awesome.css" />
<div id="main" class="container-fluid">
    <div class="bg"></div>
    <div class="jumbotron perfil_jumbotron">
        <h1>@Model.username_c</h1>
        <!--        <p class="lead">+Pequeña biografia</p>-->
        <div id="fotoPerfil_jumbotron" class="perfil_imagenPerfil" style="background-image:url('../../Fotos/@Model.fotoPerfil_c'); position: absolute; z-index: 1;"></div>
        @*<div id="fotoPerfilActualizar_jumbotron" class="perfil_imagenPerfil" style="background-color: rgba(255, 255, 255, 0.5); position: relative; z-index: 3; padding: 10px; text-align: center; display: none;">Cambiar</div>*@
        @Ajax.RawActionLink("<div id='fotoPerfilActualizar_jumbotron' class='perfil_imagenPerfil' style='background-color: rgba(255, 255, 255, 0.5); position: relative; z-index: 2; padding: 10px; text-align: center; display: none;'>Cambiar</div>", "ActualizarFotoPerfil", "Usuario", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "fotoPerfil_popup()" }, null)

    </div>

    <div class="container">
        <!-- Primer row de información y recursos -->
        <div class="row">
            <!-- Información perfil en MD SM XL -->
            <div class="container col-md-4 col-sm-4 hidden-xs perfil_recursos">
                <h2><i class="fa fa-user" aria-hidden="true"></i> Información</h2>
                <br />
                <!--                <p>Aquí se muestra información referente al perfil deseado</p>-->
                <div class="panel-group">

                    <div class="panel panel-default perfil_panel_md">
                        <div class="panel-heading">
                            <i class="fa fa-book" aria-hidden="true"></i> Bio
                            <a id="perfilEditarBio" onclick="editarBio()" class="pull-right">Editar <i class="fa fa-pencil" aria-hidden="true"></i></a>
                            @*@Ajax.RawActionLink("<a id='perfilGuardarBio' class='pull-right'>Editar <i class='fa fa-pencil' aria-hidden='true'></i></a>", "perfilGuardarBio", "Usuario", null, new AjaxOptions { UpdateTargetId = "perfilBios" }, null)*@
                        </div>
                        <div id="perfilBio" class="panel-body">
                            @*Si no hay una descripcion se le avisa y sugiere que la añada*@
                            @if (Model.UsuariosTecnico.Select(u => u.descripcion_c).First().Trim() == "" || Model.UsuariosTecnico.Select(u => u.descripcion_c).First() == null)
                            {
                                <span class="perfilAvisoSpan">Aun no has añadido una descripción sobre ti, puedes hacerlo haciendo click en el botón "Editar".</span>
                            }
                            else
                            {
                                @Model.UsuariosTecnico.Select(u => u.descripcion_c).First()
                            }
                        </div>
                        @*Div oculto con textarea para editar la descripcion*@
                        <div id="perfilBioEdit" class="panel-body" style="display:none;">
                            <textarea id="txtPerfilBio" name="descripcion_c" class="form-control" style="height: 120px"></textarea>
                            <button id="btnGuardarBio" type="submit" class="btn btn-success margen_arriba_10">Guardar</button>
                        </div>
                    </div>

                    <div class="panel panel-default perfil_panel_md">
                        <div class="panel-heading">
                            <i class="fa fa-briefcase" aria-hidden="true"></i> Perfil técnico
                            @Ajax.RawActionLink("<button class='btn btn-success btn-xs pull- right'><i class='fa fa-plus'></i> Añadir</button>", "PerfilAddCompetencia", "Usuario", new { id = Model.id }, new AjaxOptions { LoadingElementDuration = 2000, UpdateTargetId = "funcion_result", OnBegin = "load_cargando()", OnSuccess = "cerrar_cargando(); load_popup()" }, null)
                            @*<button class="btn btn-success btn-xs pull-right"><i class="fa fa-plus"></i> Añadir</button>*@
                        </div>
                        <div class="panel-body">
                            <ul>
                                @foreach (var tecnico in Model.UsuariosTecnico)
                                {
                                    foreach (var subcategoria in tecnico.UsuariosTecnicosSubcategorias)
                                    {
                                        <li>@subcategoria.UsuariosTiposSubcategorias.nombre_c <i class="fa fa-trash pull-right"></i><a onclick="editarSubcategoria()"><i class="fa fa-pencil pull-right"></i></a></li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default perfil_panel_md">
                        <div class="panel-heading">Funciones</div>
                        <div class="panel-body">
                            @*@Html.ActionLink("<button class='btn btn-lg'>Nuevo video <i class='fa fa-video-camera'></i></button>", "NuevoVideo", "Usuario", new { id = Model.id })*@
                            @*@Ajax.RawActionLink("<button class='btn btn-lg'>Nuevo video <i class='fa fa-video-camera'></i></button>", "NuevoVideo", "BackEnd", new { @id = Model.id }, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "load_popups()" }, null)*@
                            @*@Ajax.ActionLink("Nuevo video", "NuevoVideo", "Usuario", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "load_popup()" }, new { @class = "btn btn-default" })

                                @Ajax.ActionLink("Nueva foto", "NuevaFoto", "Usuario", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "load_popup()" }, new { @class = "btn btn-default" })*@
                            @Ajax.RawActionLink("<button class='btn btn-lg'>Nueva foto <i class='fa fa-camera'></i></button>", "NuevaFoto", "Usuario", new { id = Model.id }, new AjaxOptions { LoadingElementDuration = 2000, UpdateTargetId = "funcion_result", OnBegin = "load_cargando()", OnSuccess = "cerrar_cargando(); load_popup()" }, null)
                            @Ajax.RawActionLink("<button class='btn btn-lg'>Nuevo video <i class='fa fa-video-camera'></i></button>", "NuevoVideo", "Usuario", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "load_popup()" }, null)

                            @*<button class="btn btn-lg">Nueva foto <i class="fa fa-camera"></i></button>*@
                        </div>
                    </div>

                </div>
            </div>
            <!-- Información del perfil en XS -->
            <div class="container col-md-4 col-sm-4 visible-xs perfil_recursos">
                <h2><i class="fa fa-user" aria-hidden="true"></i> Información</h2>
                <br />
                <!--                <p>Aquí se muestra información referente al perfil deseado</p>-->
                <div class="panel-group">

                    <div id="perfil_panel_bio" class="panel panel-default perfil_panel_xs">
                        <div class="panel-heading"><i class="fa fa-book" aria-hidden="true"></i> Bio</div>
                        <div id="cuerpo_bio" class="panel-body" style="display: none">
                            Ejemplo de diseño en el que se incluye en este caso concreto una pequeña biografía que el usuario puede
                            añadir y hacer visible en este apartado dedicado a tal fin, apartado de información profesional y trayectoria.
                        </div>
                    </div>

                    <div id="perfil_panel_tecnico" class="panel panel-default perfil_panel_xs">
                        <div class="panel-heading"><i class="fa fa-briefcase" aria-hidden="true"></i> Perfil técnico</div>
                        <div id="cuerpo_tecnico" class="panel-body" style="display: none">
                            <ul>
                                <li>
                                    Camara
                                </li>
                                <li>
                                    Realizador
                                </li>
                                <li>
                                    Sonido
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="perfil_panel_otro" class="panel panel-default perfil_panel_xs">
                        <div class="panel-heading">Otro panel</div>
                        <div id="cuerpo_otro" class="panel-body" style="display: none">
                        </div>
                    </div>

                </div>
            </div>
            <h2><i class="fa fa-camera" aria-hidden="true"></i> Recursos perfil</h2>
            <br />
            <!-- Recursos, videos o fotos del perfil, DERECHA -->
            <div class="col-sm-8 col-xs-12">
                <div class="row margen_abajo_5">
                    <div class="col-sm-12 perfil_video_principal">

                        <video autoplay loop muted class="embed-responsive-item">

                            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">

                        </video>
                        <div id="video_principal_infoBox" class="perfil_video_principal_infoBox hidden-xs">
                            <p id="video_principal_descripcion" class="perfil_video_principal_descripcion"><i class="fa fa-quote-left fa-lg" aria-hidden="true"></i> Breve descripción para el video principal, que será el último video subido en caso de que el usuario no seleccione ningún otro video como video principal para mostrar como main en su página de perfil. <i class="fa fa-quote-right fa-lg" aria-hidden="true"></i><span id="leerMas" class="leerMas"> . . .</span></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="perfil_video_titulo">
                        <p>
                            Titulo del video principal
                        </p>
                    </div>
                </div>

                <div class="row hidden-xs">
                    <!--  row-center para centrar-->
                    <div class="col-sm-3 col-xs-12 col-center perfil_fotoBox">
                        <img src="~/Content/img/galeria.jpg" />
                    </div>
                    <div class="col-sm-3 col-xs-12 col-center perfil_fotoBox">
                        <img src="~/Content/img/perfilRecurso2.jpg" />
                    </div>
                    <div class="col-sm-3 col-xs-12 col-center perfil_fotoBox">
                        <img src="~/Content/img/perfilGaleria2.jpg" />
                    </div>
                    <div class="col-sm-2 col-center">
                        Opciones perfil
                    </div>
                </div>

            </div>
        </div>
        <div class="row margen_arriba_50">
            <div class="col-sm-12">
                <!-- Cabecera tabs -->
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab">
                        <li><a data-target="#proyectos" data-toggle="tab">Proyectos</a></li>
                        <li><a href="#" data-target="#videos" data-toggle="tab">Videos</a></li>
                        <li><a href="#" data-target="#fotos" data-toggle="tab">Fotos</a></li>
                        <li class="active"><a href="#" data-target="#comentarios" data-toggle="tab">Comentarios</a></li>
                    </ul>
                </div>

                <!-- Contenido tabs -->
                <div class="row">
                    <div class="tab-content col-sm-12">

                        <div class="tab-pane col-sm-6" id="proyectos">
                            Proyectos
                        </div>

                        <!-- Tab de Videos del perfil -->
                        <div class="tab-pane" id="videos">


                            <div class="margen_arriba_10"></div>

                            <div class="row">
                                <div class="col-sm-6 pull-right text-right">
                                    <input type="text" placeholder="Buscar entre sus videos">
                                    <button class="btn">Buscar</button>
                                </div>
                            </div>

                            <div class="clearfix margen_arriba_40"></div>

                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class="carousel slide media-carousel" id="media">
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <div class="row">

                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <div class="col-sm-4 text-top">
                                                                <div class="video_panel_izquierda">
                                                                    <div class="video_panel_izquierda_head">
                                                                        Titulo del video
                                                                    </div>
                                                                    <hr />
                                                                    <div class="video_panel_izquierda_body hidden-xs">
                                                                        <!-- panel-body ? -->
                                                                        Descripción para el video descripción para el video descripción para el video, video para el, descripcion video el para el, descripción el video para, el descripción video para video, para descripción el para video para el video descripcion.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7 col-xs-12 text-center">

                                                                <div class="perfil_video_previa">

                                                                    <a href="https://player.vimeo.com/video/16604820" data-toggle="lightbox" data-title="Titulo del video"><img src="~/Content/img/videoPerfil.jpg"></a>

                                                                    <div id="video_infoBox" class="video_infoBox visible-xs">
                                                                        <p id="video_descripcion" class="perfil_video_descripcion">
                                                                            Breve descripción para el video principal, que será el último video subido en caso de que el usuario no seleccione ningún otro video como video principal para mostrar como main en su página de perfil.
                                                                        </p>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="row">

                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <div class="col-sm-4 text-top">
                                                                <div class="video_panel_izquierda">
                                                                    <div class="video_panel_izquierda_head">
                                                                        Titulo del segundo video
                                                                    </div>
                                                                    <hr />
                                                                    <div class="video_panel_izquierda_body hidden-xs">
                                                                        <!-- panel-body ? -->
                                                                        Descripción para el video descripción para el video descripción para el video, video para el, descripcion video el para el, descripción el video para, el descripción video para video, para descripción el para video para el video descripcion.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7 col-xs-12 text-center">

                                                                <div class="perfil_video_previa">
                                                                    <a href="https://www.youtube.com/watch?v=hrRxk5WOIYE" data-toggle="lightbox" data-title="Titulo del video">
                                                                        <img src="~/Content/img/videoPerfil2.jpg">
                                                                    </a>


                                                                    <div id="video_infoBox" class="video_infoBox visible-xs">
                                                                        <p id="video_descripcion" class="perfil_video_descripcion">
                                                                            Descripción para el video descripción para el video descripción para el video, video para el, descripcion video el para el, descripción el video para, el descripción video para video, para descripción el para video para el video descripcion.
                                                                        </p>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <!--
                                                                                                                    <div class="col-sm-1 hidden-xs perfil_video_siguiente">
                                                                                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                                                                                    </div>
                                                            -->
                                                        </div>

                                                    </div>


                                                </div>
                                            </div> <!-- fin Item -->


                                        </div>
                                        <!--                                    <a data-slide="prev" href="#media" class="left carousel-control">‹</a>-->
                                        <a data-slide="prev" href="#media" class="perfil_video_anterior">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a data-slide="next" href="#media">
                                            <span class="glyphicon glyphicon-chevron-right perfil_video_siguiente"></span>
                                        </a>

                                        <!--                                    <a data-slide="next" href="#media" class="right carousel-control">›</a>-->
                                    </div>
                                </div>
                            </div>











                        </div>

                        <!-- tab de Fotos del perfil -->
                        <div class="tab-pane" id="fotos">

                            <div class="clearfix margen_arriba_20"></div>
                            <!-- Album de fotos -->
                            <h2>MI GALERIA DE FOTOS</h2>
                            <hr>
                            <div class="container">
                                <div id="main_area">
                                    <!-- Slider -->
                                    <div class="row">
                                        <div class="col-sm-6 hidden-xs" id="slider-thumbs">
                                            <!--  -->
                                            <ul class="hide-bullets galeria_fotos_ul">
                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-0">
                                                        <img src="http://placehold.it/150x150&text=zero">
                                                    </a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-1"><img src="~/Content/img/galeria.jpg"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-2"><img src="~/Content/img/perfilGaleria2.jpg"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-3"><img src="~/Content/img/perfilGaleria3.jpg"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-4"><img src="~/Content/img/perfilGaleria4.jpg"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-5"><img src="~/Content/img/perfilGaleria5.jpg"></a>
                                                </li>
                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-6"><img src="http://placehold.it/150x150&text=6"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-7"><img src="http://placehold.it/150x150&text=7"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-8"><img src="http://placehold.it/150x150&text=8"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-9"><img src="http://placehold.it/150x150&text=9"></a>
                                                </li>
                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-10"><img src="http://placehold.it/150x150&text=10"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-11"><img src="http://placehold.it/150x150&text=11"></a>
                                                </li>

                                                <li class="col-sm-3">
                                                    <a class="thumbnail" id="carousel-selector-12"><img src="http://placehold.it/150x150&text=12"></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <nav class="text-center">
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li>
                                                        <a href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="col-sm-6 col-xs-12">
                                            <div class="col-xs-12" id="slider">
                                                <!-- Top part of the slider -->
                                                <div class="row">
                                                    <div class="col-sm-12" id="carousel-bounding-box">
                                                        <div class="carousel slide" id="myCarousel">
                                                            <!-- Carousel items -->
                                                            <div class="carousel-inner">
                                                                <div class="active item" data-slide-number="0">
                                                                    <img src="http://placehold.it/470x480&text=zero">
                                                                </div>

                                                                <div class="item" data-slide-number="1">
                                                                    <img src="~/Content/img/galeria.jpg">
                                                                </div>

                                                                <div class="item" data-slide-number="2">
                                                                    <img src="~/Content/img/perfilGaleria2.jpg">
                                                                </div>

                                                                <div class="item" data-slide-number="3">
                                                                    <img src="~/Content/img/perfilGaleria3.jpg">
                                                                </div>

                                                                <div class="item" data-slide-number="4">
                                                                    <img src="~/Content/img/perfilGaleria4.jpg">
                                                                </div>

                                                                <div class="item" data-slide-number="5">
                                                                    <img src="~/Content/img/perfilGaleria5.jpg">
                                                                </div>

                                                                <div class="item" data-slide-number="6">
                                                                    <img src="http://placehold.it/470x480&text=6">
                                                                </div>

                                                                <div class="item" data-slide-number="7">
                                                                    <img src="http://placehold.it/470x480&text=7">
                                                                </div>

                                                                <div class="item" data-slide-number="8">
                                                                    <img src="http://placehold.it/470x480&text=8">
                                                                </div>

                                                                <div class="item" data-slide-number="9">
                                                                    <img src="http://placehold.it/470x480&text=9">
                                                                </div>

                                                                <div class="item" data-slide-number="10">
                                                                    <img src="http://placehold.it/470x480&text=10">
                                                                </div>

                                                                <div class="item" data-slide-number="11">
                                                                    <img src="http://placehold.it/470x480&text=11">
                                                                </div>

                                                                <div class="item" data-slide-number="12">
                                                                    <img src="http://placehold.it/470x480&text=12">
                                                                </div>

                                                            </div>
                                                            <!-- Carousel nav -->
                                                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                            </a>
                                                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/Slider-->
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane active" id="comentarios">
                            <div class="clearfix margen_arriba_40"
                                 <!-- COMENTARIOS -->
                                @foreach (var comentario in Model.ComentariosUsuario)
                                    {

                                <!-- Comentario para PCS y tablets-->
                                <div class="row hidden-xs comentario_perfil">

                                    <!-- Autor BOX IZQUIERDA -->
                                    <div class="col-sm-3 text-center">
                                        <!-- Foto perfil autor comentario -->
                                        <div class="row">
                                            <div class="col-sm-offset-4 perfil_comentario_autorBox">
                                                <img src="~/Content/img/perfil.jpg" class="comentario_autor_fotoPerfil">
                                            </div>
                                        </div>
                                        <!-- Nombre usuario autor comentario -->
                                        <div class="row margen_arriba_5">
                                            <span>@comentario.Usuarios1.username_c</span>
                                        </div>
                                        <hr>
                                    </div> <!-- Fin Autor BOX IZQUIERDA

                                    <!-- Comentario BOX DERECHA-->
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-12 comentario_contenido">
                                                @comentario.Comentarios.comentario_c
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 comentario_fecha">
                                                    <span class="text-muted">@comentario.Comentarios.fechaFirst_dt</span>
                                                </div>
                                            <div class="col-sm-4 col-sm-offset-6 comentario_botones">
                                                <button class="pull-right">Accion</button>
                                                <button class="pull-right">Accion</button>
                                            </div>

                                        </div>
                                    </div><!-- Comentario BOX DERECHA -->
                                </div> <!-- Fin comentario PCS y tablets-->

            <!-- ------------------Comentario para XS -->
                                <div class="row visible-xs">
                                    <!-- Comentario BOX DERECHA-->
                                    <div class="col-sm-9">
                                        <div class="panel panel-default panel_comentario">
                                            <div class="panel-heading">
                                                <strong>Username</strong> <span class="text-muted">hace cuantos dias o fecha si son mas de 30 dias</span>
                                            </div>
                                            <div class="panel-body">
                                                Comentario realizado por otro usuario respecte a este usuario, que será mostrado en este apartado de comentarios dirigidos a este usuario en concreto.
                                            </div>
                                        </div>
                                    </div><!-- Comentario BOX DERECHA -->
                                </div> <!----------------------- FIN comentario para XS -->
                                }
                            <!-- FIN COMENTARIOS -->
                        </div>

                        </div>
                    </div> <!-- Fin contenido tabs -->

                </div>
            </div>


        </div> <!-- Contenedor de body -->

        <hr />
    </div>
</div>

<script>
    //Cambiar foto de perfil mouseOver
    $('#fotoPerfil_jumbotron').hover(function () {
        $('#fotoPerfilActualizar_jumbotron').css("cursor", "pointer");
        $('#fotoPerfilActualizar_jumbotron').fadeIn(500);
    });
    $('#fotoPerfilActualizar_jumbotron').mouseout(function () {
        $('#fotoPerfilActualizar_jumbotron').fadeOut(500);
    });
    @*@Ajax.ActionLink("PerfilActualiza", "Usuario", new { id = Model.id, descripcion =  }, new AjaxOptions { OnSuccess="descripcionEditada()" }  );*@
    function editarDescripcion() {
        var divDescripcion = $('#perfilBio');
        var descripcion_c = divDescripcion.text();
        $('#perfilBio').empty();
        @*$('#perfilBio').html('@Ajax.BeginForm("PerfilActualizar", "Usuario", new AjaxOptions { OnSuccess = "descripcionEditada()" }){');*@
        $('#perfilBio').html('@Ajax.BeginForm("PerfilActualizar", "Usuario", new AjaxOptions { OnSuccess = "descripcionEditada()" })<input type="hidden" value="@Model.id" name="id" /><textarea name="descripcion_c" class="form-control" name="descripcion_c" style="height: 120px">' + descripcion_c + '</textarea><button type="submit" class="btn btn-success">Guardar</button>');

    }
    // Función para mostrar el textarea y editar el texto de la bio
    function editarBio() {
        $('#txtPerfilBio').val($('#perfilBio').text());
        $('#perfilBio').hide();
        $('#perfilBioEdit').show();
    }

    $('#btnGuardarBio').click(function () {

        var descripcion = $('#txtPerfilBio').val();

        $.ajax({
            method: "POST",
            url: "/Usuario/PerfilActualizar",
            type: "txt/plain",
            data: { argDescripcion: descripcion },
            success: function (resultado) {
                $('#perfilBio').text(descripcion);
                $('#perfilBioEdit').hide();
                $('#perfilBio').show();
            }
        });
    });
    function cerrar_fotoPerfil() {
        $(".opaca-gris").on("click", function () {
            $(".detalles_popups").removeClass("animated zoomIn");
            $(".detalles_popups").addClass("animated zoomOut");
            $(".detalles_popups").fadeOut(300);
            $(".opaca-gris").fadeOut(300);
        });
    }

    function fotoPerfil_popup() {
        $(".detalles_popups").removeClass("animated zoomOut");
        $(".detalles_popups").addClass("animated zoomIn");
        $(".detalles_popups").fadeIn(300);
        $(".opaca-gris").fadeIn(300);

        $('html,body').animate({
            scrollTop: 0
        }, 1000, "easeInOutExpo");

        cerrar_fotoPerfil();
    }

    function cerrar_popup() {
        $(".opaca-gris").on("click", function () {
            $(".detalles_popups").removeClass("animated zoomIn");
            $(".detalles_popups").addClass("animated zoomOut");
            $(".detalles_popups").fadeOut(300);
            $(".opaca-gris").fadeOut(300);
        });
    }

    function load_popup() {
        $(".detalles_popups").removeClass("animated zoomOut");
        $(".detalles_popups").addClass("animated zoomIn");
        $(".detalles_popups").fadeIn(300);
        $(".opaca-gris").fadeIn(300);

        $('html,body').animate({
            scrollTop: 0
        }, 1000, "easeInOutExpo");

        cerrar_popup();
    }
    function cerrar_cargando() {
        $(".opaca-gris").on("click", function () {
            $(".cargando_popup").removeClass("animated zoomIn");
            $(".cargando_popup").addClass("animated zoomOut");
            $(".cargando_popup").fadeOut(300);
            $(".opaca-gris").fadeOut(300);
        });
    }
    function load_cargando() {
        $(".cargando_popup").removeClass("animated zoomOut");
        $(".cargando_popup").addClass("animated zoomIn");
        $(".cargando_popup").fadeIn(300);
        $(".opaca-gris").fadeIn(300);

        $('html,body').animate({
            scrollTop: 0
        }, 1000, "easeInOutExpo");

        cerrar_cargando();
    }

    jQuery(document).ready(function ($) {

        $('#myCarousel').carousel({
            interval: 5000
        });
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            try {
                var id = /-(\d+)$/.exec(id_selector)[1];
                console.log(id_selector, id);
                jQuery('#myCarousel').carousel(parseInt(id));
            } catch (e) {
                console.log('Regex failed!', e);
            }
        });
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
            var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-' + id).html());
        });
    });

    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });


    $('#leerMas').click(function () {
        $("#video_principal_infoBox").toggleClass("width100", 1000);
    });
    $('#perfil_panel_bio').click(function () {
        if ($('#cuerpo_bio').css('display') == 'none') {
            $('#cuerpo_bio').css("display", "block");
        }
        else {
            $('#cuerpo_bio').css("display", "none");
        }
    });
    $('#perfil_panel_tecnico').click(function () {
        if ($('#cuerpo_tecnico').css('display') == 'none') {
            $('#cuerpo_tecnico').css("display", "block");
        }
        else {
            $('#cuerpo_tecnico').css("display", "none");
        }
    });
    $('#perfil_panel_otro').click(function () {
        if ($('#cuerpo_otro').css('display') == 'none') {
            $('#cuerpo_otro').css("display", "block");
        }
        else {
            $('#cuerpo_otro').css("display", "none");
        }
    });

    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax() {
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight - scrolled) + 'px');
    }

    $(window).scroll(function (e) {
        parallax();
    });
</script>
