<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="opaca-gris"></div>

    <div id="cargando_popup" class="cargando_popup">
        <img src="~/Content/img/spinner.gif" class="imgSpinner" /> Cargando...
    </div>

    <div id="funcion_result"></div>

        @Html.Action("navTop", "Home")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

        @RenderBody()


        <footer>
            <p>&copy; @DateTime.Now.Year - Pie</p>
        </footer>


</body>
</html>
