<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="opaca-gris"></div>

    <div id="cargando_popup" class="cargando_popup">
        Cargando...
    </div>

    <div id="funcion_result"></div>
    <div class="page-header">
        @Html.Action("navTop", "Home")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="container-fluid">
        @RenderBody()


        <footer>
            <p>&copy; @DateTime.Now.Year - Pie</p>
        </footer>
    </div>
    <script>
        $(window).on("beforeunload ", function () {
            wait();
        });
        function wait() {
            $(".img_wait").fadeIn(300);
            $(".opaca-gris").fadeIn(300);
        }
        function waitOut() {
            $(".opaca-gris").fadeOut(300);
            $(".img_wait").fadeOut(300);
        }
        function loadAjax() {
            $(document).ajaxStart(function () {
                wait();
            });
        }
    </script>

</body>
</html>
